[submodule "sharpy"]
	path = sharpy
	url = https://github.com/ImperialCollegeLondon/sharpy
[submodule "src/xfoil"]
	path = src/xfoil
	url = https://codeberg.org/xfoil-python/xfoil-python.git
[submodule "src/flex_op"]
	path = src/flex_op
	url = http://github.com/sduess/flex_op
